* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url('https://burst.shopifycdn.com/photos/storm-clouds-from-above.jpg?width=1000&format=pjpg&exif=0&iptc=0');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .main {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  

  h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  

  form {
    text-align: center;
  }
  

  #input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

  #cities {
    margin-top: 20px;
  }
  

  .city {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  

  .fa-cloud {
    color: #007bff;
    font-size: 24px;
    margin-right: 10px;
  }
  